<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <STYLE type="text/css">
  H1.uno {text-align: center}
  H4.dos {text-align: center}
 </STYLE>
</head>
<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
 <H1 class="uno"> ⛔ERROR⛔ </H1>
<H1 class="uno"> ¡NOMBRE DEL PRODUCTO MAL INGRESADO! </H1>
<h4 class="dos"><a href="javascript:history.back()"><span style="color: #000080;">¡Volver a ingresar!</span></a></h4>
</body>
</html>